body {
    background-color: rgb(31,31,31);
    text-align: center;
}
.centerthing {
    padding-top: 5%;
    margin: auto;
    width: 75%;
    height: 40%;
    text-align: center;
}
button {
    background-color: rgb(62,62,62);
    border-color: rgb(62,62,62);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 2em;
    color: rgb(231,231,231);
    border-radius: 10%;
    border-color: rgb(10,10,10);
    outline: none;
}
h6 {
    color: rgb(31,31,31);
    position: absolute;
}
p {
    height: 5%;
    color: paleturquoise;
    font-size: 3.1em;
}
span {
    font-size: 3em;
    background-color: rgb(31,31,31);
    color: rgb(50,50,50);
    border-width: 2px;
    border-radius: 10%;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
h1 {
    font-size: 62px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(161,161,231)
}
